-
  var info = [
    'Вывозим от 300 кг',
    'Черный металл – 13 руб/кг',
    'Работаем с 9:00 до 21:00',
    'Принимаем звонки круглосуточно',
    'Приезжаем с весами',
    'Расчет на месте'
  ]

  var steps = [
    'Звоните по телефону и оставляете заявку',
    'Согласование всех деталей и цен',
    'Прием и погрузка металла',
    'Оплата металла'
  ];

  var faq = [
    {question: 'Вы приезжаете с весами?', answer: 'Конечно, мы при вас сортируем и взвешиваем весь сдаваемый металлолом'},
    {question:'Как вы оплачиваете?', answer: 'Оплату за металл производим сразу на месте приема в полном объеме переводом на карту или наличными'},
    {question:'Можете вечером приехать?', answer: 'Да, мы согласовываем все детали и приезжаем в удобное для вас время'},
    {question:'Какие объемы вы принимаете?', answer: 'от 300 кг'},
    {question:'Я могу сам привезти металл', answer: 'Да, конечно, приезжайте по адресу г.Краснодар пос.Индустриальный второй, Евдокимовский проезд, д.17.'},
    {question:'Какие объемы вы принимаете?', answer: 'от 300 кг'},
  ]