include partials/vars.pug

doctype html
html(lang="ru")
  include partials/head.pug
  body

    //top-section
    section.section.top-section
      .container
        h2.section-title

    //info-section
    section.section.info-section
      .container
        h2.section-title

    //step-section
    section.section.step-section
      .container
        h2.section-title

    //faq-section
    section.section.faq-section
      .container
        h2.section-title

    //price-section
    section.section.price-section
      .container
        h2.section-title

    //footer
    footer.footer
      .container

    include partials/scripts.pug
