@import 'base/vars.scss';
@import 'base/grid.scss';

body {font-size: 16px;font-family: 'Rubik', Arial, Helvetica, sans-serif; box-sizing: border-box; background-color: #fff;
  &.no-scroll {overflow: hidden;}
}

* {box-sizing: inherit;}
p {line-height: 1.5;}
img {max-width: 100%;}

/* helpers */
.container {width: 100%; max-width: 1170px;padding-left: 25px;padding-right: 25px;margin-left: auto;margin-right: auto;}



